*{
  padding: 0%;
  margin: 0%;
}
.container {
  height: 300vh;
  width: 100%;
  background-color: crimson;
}
.top{
  width: 100%;
  height: 10%;
  background-color: blue;
}
.toptop{
  height: 34%;
  width: 100%;
  background-color: aliceblue;
  display: flex;
}
.logo{
  width: 50%;
  height: 100%;
  background-color: gold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup{
  width: 50%;
  height: 100%;
  background-color: dodgerblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topdown{
  height: 66%;
  width: 100%;
  background-color: chartreuse;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.topdowntop{
  height: 50%;
  width: 100%;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topdowndown{
  height: 50%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topdowndownleft{
  height: 100%;
  width: 50%;
  background-color: rgb(0, 213, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
.topdowndownright{
  height: 100%;
  width: 50%;
  background-color: cyan;
  display: flex;
  justify-content: center;
  align-items: center;
}
.explanation{
  width: 100%;
  height: 20%;
  background-color: aquamarine;
}
.allandnew{
  width: 100%;
  height: 3.5%;
  background-color: blueviolet;
  display: flex;
}
.all{
  width: 50%;
  height: 100%;
  background-color: rgb(20, 50, 245);
  display: flex;
  justify-content: center;
  align-items: center;
}
.new{
  width: 50%;
  height: 100%;
  background-color: violet;
  display: flex;
  justify-content: center;
  align-items: center;
}
.production{
  width: 100%;
  height: 50%;
  background-color: lightpink;
}
.layer1{
  width: 100%;
  height: 50%;
  background-color: paleturquoise;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.product1{
  height: 90%;
  width: 15%;
  background-color: plum;
}
.product2{
  height: 90%;
  width: 15%;
  background-color: plum;
}
.product3{
  height: 90%;
  width: 15%;
  background-color: plum;
}
.product4{
  height: 90%;
  width: 15%;
  background-color: plum;
}
.product5{
  height: 90%;
  width: 15%;
  background-color: plum;
}
.product6{
  height: 90%;
  width: 15%;
  background-color: plum;
}
.layer2{
  width: 100%;
  height: 50%;
  background-color: lightcoral;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.product7{
  height: 90%;
  width: 15%;
  background-color: plum;
}
.product8{
  height: 90%;
  width: 15%;
  background-color: plum;
}
.product9{
  height: 90%;
  width: 15%;
  background-color: plum;
}
.product10{
  height: 90%;
  width: 15%;
  background-color: plum;
}
.product11{
  height: 90%;
  width: 15%;
  background-color: plum;
}
.product12{
  height: 90%;
  width: 15%;
  background-color: plum;
}
.sutsm{
  width: 100%;
  height: 4%;
  background-color: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.allthing{
  width: 100%;
  height: 12.5%;
  background-color: lightseagreen;
}